/*FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*BODY*/
html,
body {
  height: 100%;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  flex-direction: column;
}

/*HEADER*/
header {
  background-color: #bab09b;
}

h1 {
  color: #ffffff;
  font-size: 70px;
  font-style: italic;
  text-align: center;
  padding: 10px;
}

.nav-link {
  color: #ffffff !important;
}

.navbar-brand {
  color: #ffffff !important;
}

.btn {
  padding: 5px;
}

.btn:hover {
  background-color: #bab09b;
  color: #ffffff;
}

.img-user {
  width: 30px;
  height: auto;
}

/*MAIN*/

main {
  flex: 1;
  background-color: #ffffff;
}

p {
  margin: 0 0 5px 0;
}

.lanzamientos {
  background-image: url(../img/nuevoslanzamientos1.jpg);
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  color: #ffffff;
  width: 100%;
  height: 350px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  padding-top: 140px;
  text-align: center;
}

.lanzamientos button {
  border: none;
  background-color: #bab09b;
  color: #ffffff;
}

.titulosecundario {
  text-align: center;
  font-size: 25px;
  margin: 10px;
}

main section div img {
  width: 200px;
  height: auto;
  background-attachment: fixed;
}

main section div a {
  text-decoration: none;
  color: #000000;
}

/*FOOTER*/
footer {
  background-color: #bab09b;
  display: flex;
  justify-content: space-between;
}

footer p {
  color: #ffffff;
}

.suscripcion {
  margin: 5px;
  color: #ffffff;
}

.enviarbutton {
  font-size: 17px;
  color: #212529;
  background-color: #ffffff;
  border: none
}

.contacto h2 {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

footer section div img {
  width: 50px;
  height: auto;
}

.direccion {
  margin: 5px;
}

footer section div {
  text-align: center;
}

.contacto div {
  display: flex;
}

footer section div p {
  padding: 15px;
}

footer section div img {
  margin: 3px;
}

iframe {
  width: 250px;
  height: 200px;
}

/*PRODUCTOS*/

.products {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.products div {
  position: relative;
}

.products div h3 {
  font-size: 15px;
  position: absolute;
  top: 0%;
  color: #ffffff;
  background-color: #bab09b;
  padding: 5px;
  margin-left: 0px;
}

.products div img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.products div p {
  font-size: 15px;
}

.products div button {
  font-size: 15px;
  border: none;
  color: #ffffff;
  background-color: #bab09b;
}

/*FAQs*/

.faqs h3 {
  display: inline-block;
  padding: 3px;
  font-size: 25px;
  border: 1px solid #bab09b;
}

.titulosecundario h2 {
  font-size: 30px;
  color: #000000;
}

.titulosecundario ol {
  list-style: none;
  font-size: 18px;
}

/*CONTACTO*/

.titulosecundario form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.renglon {
  width: 200px;
  height: 20px;
}

.titulosecundario form textarea {
  width: 200px;
  height: 70px;
}

.enviarmensaje {
  font-size: 17px;
  margin-top: 10px;
}

/*POLÍTICAS*/

.accordion-button {
  font-size: 20px;
}

.accordion-body ul li {
  list-style: none;
  font-size: 15px;
}

/*GRIDS*/

.grid-galeria {
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 350px;
  gap: 10px;
}

.grid-galeria div img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.img-1 {
  grid-column: span 2;
}

.img-5 {
  grid-row: span 2;
}

.img-6 {
  grid-column: span 2;
}

.grid-item {
  position: relative;
  grid-template-rows: auto auto 1fr auto;
  padding: 15px;
  box-sizing: border-box;
}

.grid-item h3 {
  position: absolute;
  top: 0%;
  color: #ffffff;
  background-color: #bab09b;
  padding: 5px;
  font-size: 20px;
  margin-top: 15px;
}

.grid-item button {
  color: #ffffff;
  background-color: #bab09b;
  font-size: 15px;
  padding: 1px;
  margin-top: 0;
  border: none;
}

.grid-item p {
  font-size: 15px;
  color: #000000;
}

/*PSEUDO CLASES*/

.lanzamientos button:hover {
  background-color: #ffffff;
  color: #bab09b;
}

.grid-galeria div h3:hover {
  background-color: #ffffff;
  color: #bab09b;
}

.grid-galeria div button:hover {
  font-size: 15px;
  background-color: #ffffff;
  color: #bab09b;
  padding: 2px;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 994px) {
  .navbar-toggler {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2px;
    margin: 1px;
  }
}

@media screen and (max-width: 910px) {
  .grid-galeria {
    grid-auto-rows: 500px;
  }
}

@media screen and (max-width:840px) {
  .products {
    flex-direction: column;
    align-items: center;
  }

  .products div {
    width: 200px;
    height: 250px;
    margin: 0px 60px 90px 60px;
  }
}

@media screen and (max-width: 764px) {
  .grid-galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 600px;
    gap: 5px;
  }

  .img-1 {
    grid-column: span 1;
  }

  .img-5 {
    grid-row: span 1;
  }

  .img-6 {
    grid-column: span 1;
  }

  iframe {
    width: 200px;
    height: 150px;
  }
}

@media screen and (max-width: 712px) {
  footer {
    flex-direction: column;
    align-items: center;
  }

  iframe {
    width: 270px;
    height: 200px;
  }
}

@media screen and (max-width: 586px) {
  .grid-galeria {
    grid-auto-rows: 700px;
  }
}

@media screen and (max-width:523px) {
  .grid-galeria {
    grid-template-columns: 1fr;
    grid-auto-rows: 400px;
  }
}

@media screen and (max-width:369px) {
  .grid-galeria {
    grid-auto-rows: 500px;
  }
}