footer {
    background: #BAB09B;
    background: linear-gradient(90deg, rgba(186, 176, 155, 1) 0%, rgba(201, 192, 173, 1) 70%, rgba(224, 219, 200, 1) 100%);
    @include flex (flex, space-between, center);

    .suscripcion {
        h2 {
            color: $color-secundario;
            font-size: 18px;
            margin-left: 10px;
        }

        form {
            margin: 10px;
            text-align: center;

            .form-control {
                &:focus {
                    border-color: $color-principal !important;
                    box-shadow: 0 0 0 0.2rem $color-principal !important;
                }
            }

            .btn {
                color: $color-principal;
                background-color: $color-secundario;
                border: none;
                border-radius: 0.375rem;
                margin-top: 10px;
                padding: 3px 10px 3px 10px;
                transition: 0.5s;

                &:hover {
                    transform: scale(1.1);
                }

            }
        }
    }

    .contacto {
        text-align: center;

        h2 {
            font-size: 18px;
            color: $color-secundario;
        }

        div {
            display: flex;

            a {
                font-size: 40px;
                color: $color-secundario;
                margin: 10px;
                transition: 0.5s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

    }

    .direccion {
        text-align: center;

        h2 {
            color: $color-secundario;
            font-size: 18px;
            margin-right: 10px;
            margin-top: 10px;
        }

        iframe {
            width: 200px;
            height: 150px;
            border-radius: 0.375rem;
        }
    }

}