body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;

    header {
        background: #BAB09B;
        background: linear-gradient(90deg, rgba(186, 176, 155, 1) 0%, rgba(201, 192, 173, 1) 70%, rgba(224, 219, 200, 1) 100%);

        .navbar {
            .dropdown-menu {
                .dropdown-item {
                    color: $color-principal;

                }
            }

            img {
                width: 200px;
                height: 70px;
                margin-left: 1vw;
                transition: 0.5s;

                &:hover {
                    transform: scale(1.1);
                }
            }

            div {
                a {
                    transition: 0.5s;
                    font-size: 18px;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                div {
                    a {
                        color: $color-secundario;
                        margin: 2px;

                        .bi-bag {
                            font-size: 25px;
                            margin-left: 10px;
                        }

                        .bi-person {
                            font-size: 30px;
                        }

                    }
                }
            }
        }

        .nav-link {
            color: $color-secundario !important;
        }

        .navbar-brand {
            color: $color-secundario !important;
        }

        .btn {
            padding: 5px;
            color: $color-principal;
            background-color: $color-secundario;
            transition: 0.5s;
            border-radius: 0.375rem;

            &:hover {
                color: $color-principal;
                background-color: $color-secundario;
                font-size: 17px;
            }
        }

        .form-control {
            border-radius: 0.375rem;

            &::placeholder {
                color: $color-principal;
            }

            &:focus {
                border-color: $color-principal !important;
                box-shadow: 0 0 0 0.2rem $color-principal !important;
            }
        }

        .nav-link {
            &:focus {
                border-color: $color-principal !important;
                box-shadow: 0 0 0 0.2rem $color-principal !important;
            }
        }
    }
}